<div class="wrapper-captain">
    
    <main class="captain">
        <article class="mainhead">
            <span style="font-family:'Arial', Times, serif"> <h1>Badass lvl 100</h1></span>
        </article>
        <div class="mainbody"></div>
    </main>
    
    <div class="middelsegment">
        <div></div>
        <div></div>
    </div>
    <div class="intersect"></div>
    <footer class="captain">
        <div class="boll"></div>
        <span style="font-family:'Arial', Times, serif">   
        Captain Carol Danvers, also known as Captain Marvel, is a former United States Air Force pilot who, 
        upon being exposed to the energy of the Tesseract, obtained cosmic powers. She was made into a Kree-Human
        hybrid via a blood transfusion from Yon-Rogg, while having her memories removed, turning her into the 
        Kree's weapon and a member of Starforce.
        </span>
    </footer>
</div>