<div class="wrapper-captain">

<main class="captain">
    <div class="mainhead"></div>
    <div class="mainbody"></div>
</main>

<div class="middelsegment">
    <div class="cap-pic1"></div>
    <div class="cap-pic2"></div>
</div>
<div class="intersect"></div>
<footer class="captain">
    <div class="boll"></div>
    joui
</footer>
</div>