<div class="wrapper-iron">

<main class="iron">
    <article class="mainiron-text"> <h1> Tony stark or Ironman is one of the most popular heroes in the MCU. He is one of my 
            favorites, he is funny and smart. And makes badass moments. My favorite movie with him is Spider-man homecoming.
            He is just great when he takes on Peter Parker/Spider-Man.  </h1></article>
</main>
<footer class="iron">
<div class="footerpic"></div>
<article class="footertext"> Tony stark or Ironman is one of the most popular heroes in the MCU. He is one of my 
    favorites, he is funny and smart. And makes badass moments. My favorite movie with him is Spider-man homecoming.
    He is just great when he takes on Peter Parker/Spider-Man.    
</article>
</footer>

</div>