<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
    <div class="menu">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>

    <div class="fade-layer" onclick="showMenu()"></div>

    <div class="wrapper">
        
        <div class="menu-button" onclick="showMenu()">
            <i class="material-icons">menu</i>
        </div>

    <script src="js/main.js"></script>
</body>
</html>