<div class="wrapper-spider">
    <main class="spider">
        <div class="topspider"></div>
        <div class="middelspider"></div>
    </main>
    <footer class="spider">
        <div class="picspider1">
            <div class="infospider1"><h2>wow</h2></div>
        </div>
        <div class="picspider2">
            <div class="infospider2"></div>
        </div>
    </footer>
    <div class="spiderend"></div>


</div>

